.container {
  width: 100vw;
  display: flex;
  top: 0;
  left: 0;
  box-shadow: 10px 5px 5px #000;
  justify-content: space-around;
  align-items: center;
  position: fixed;
}
.content {
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.menu-items {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
}
.more {
  display: none;
  width: 40px;
  height: 40px;
}
@media (max-width: 768px) {
  .header {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container {
    flex-direction: column;
  }
  .more {
    display: flex;
  }
  .content {
    align-items: flex-start;
    display: none;
    position: relative;
    height: auto;
    box-shadow: 10px 5px 5px #000;
    background-color: white;
    width: 100vw;
    z-index: 1000;
    top: 12%;
  }
  .menu-items {
    width: 100vw;
    height: auto;
    margin-left: 40px;
    flex-direction: column;
    position: relative;
  }
  .container {
    box-shadow: none;
  }
}
